<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/home.css">
    <title>PopBox</title>
</head>
<body>
    <header>
    </header>
    <nav>
      <div class="nav-perfil">
        <a href="/usuario/perfil"><img src="/Img/icone-perfil.png" alt="" width="50" height="50"></a>
        <div>
            <h4>Usuario pop</h4>
            <a href="/usuario/logout">Sair</a>
        </div>
      </div>
      <div class="options-list">
        <ul>
          <a href="#"><li>Nova Pasta</li></a>
          <a href="#"><li>Novo Arquivo</li></a>
          <a href="#"><li>Baixar Seleção</li></a>
          <a href="#"><li>Excluir Seleção</li></a>
        </ul>
      </div>
    </nav>
    <div class="container">
        
    </div>
</body>
</html>