<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/perfil.css">
    <title>PopBox</title>
</head>
<body>
    <header>
        <div class="div-perfil"><a href="/usuario/home"><img src="/Img/icone-perfil.png" alt="" width="50" height="50"></a>
            <div>
                <h4>Usuario pop</h4>
                <a href="/usuario/logout">Sair</a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="logo">
            <h1>PopBox</h1>
        </div>
        <form action="/usuario/editar" method="post">
           <h2>Alterar Dados</h2>
           <input type="text" name="name" placeholder="Nome" required maxlength="45">
           <input type="email" name="email" placeholder="Email" required maxlength="45">
           <input type="password" name="password" placeholder="Senha" required minlength="8">
           <div>
            <input type="submit" value="Alterar" id="alterar">
            <a href="/usuario/delete">Deletar</a>
           </div>
        </form>
    </div>
</body>
</html>